Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
