[Desktop Entry]
Type=Application
Name=LiTeX
GenericName=LaTeX Editor
Comment=Native minimal LaTeX editor, compiler, PDF previewer, and terminal
Exec=litex-editor %F
Icon=litex-editor
Terminal=false
Categories=Office;Publishing;
MimeType=text/x-tex;application/x-tex;
Keywords=TeX;LaTeX;PDF;Editor;Publishing;
StartupNotify=true
